h2 {
    margin-top: 0;
}

img {
    position: relative;
    left: 25%;
    transition: box-shadow 0.5s;
}

img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px black;
}

.accordion-title {
    font-size:1rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin: 1rem; */
}

.image-container img {
    display: block;
    align-items: center;
    width: 50%;
}

.image-cont {
    text-align: left;
    display: inline-block;
}

.image-cont img {
    display: block;
    align-items: center;
    width: 50%;
}

.image-caption {
    font-size: 0.75rem;
    color:grey;
    display: block;
    text-align: center;
}